## Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependencies
node_modules/
jspm_packages/
bower_components/
web_modules/

# Build outputs
dist
dist-ssr
.next
out
.nuxt
.vuepress/dist
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
build/Release

# Cache
.cache
.parcel-cache
.eslintcache
.stylelintcache
.npm
.grunt

# Environment variables (NUNCA vão para o GitHub)
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel

# Misc
*.tsbuildinfo
*.tgz
.yarn-integrity
.node_repl_history
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
vite.config.js.timestamp-*
vite.config.ts.timestamp-*